.heroContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
    background-image: url("https://cdn.jsdelivr.net/gh/htwm623/static/media/images/bg3.jpg");
  background-repeat: no-repeat;
  background-color: #222;
  background-size: cover;
  justify-content: center;
  align-items: center;
  color: #000;
}

.heroContainer .centerCard {
  width: 600px;
  height: 400px;
  font-size: 48px;
  letter-spacing: 20px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
}
